* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif, monospace;
}
section{
    width:100%;
}

.sec_1 {
    background: url('images/header-bg.jpg') no-repeat center center;
}

.head {
    background-color: rgba(4, 2, 9, 0.75);

}

.inner_container {
    width: 80%;
    margin: 0 auto;
}

.sec_1 .inner_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: fixed;
     padding-top:0.5%;
     
}

header nav {
    padding-right: 2%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
    display: block;
    padding: 15px 10px;
    font-size: 0.75rem;
    font-weight: 600;
}
header nav ul li a:hover{
    background-color: #ffb42c;
    border-radius: 2px;
    padding: 10px 10px;
}
.sec_1 aside {
    width: 50%;
    background-color: transparent;
    color: white;
    padding-top: 14%;
}

.sec_1 aside h5 {
    text-transform: uppercase;
    font-size: 0.7rem;
    word-spacing: 2%;
    margin-bottom: 4%;
    font-weight: bold;
    color: #fefefead;
}

.sec_1 aside h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 4%;
    margin-bottom: 4%;
}

.sec_1 aside p {
    font-weight: bold;
    font-size: 0.8rem;
    color: #fefefead;
    margin-bottom: 4%;
    text-align: justify;
}

.format {
    background-color: #ffb42c;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.65rem;
    padding: 2% 5%;
    text-decoration: none;
}

form {
    width: 40%;
    border: 1px solid #fefefead;
    color: white;
    padding-top:2%;
    padding-bottom: 2%;
    margin-bottom: 4%;
    font-size: 0.95rem;
    background-color: #16167e38;
    margin-top:4%;  
}

form *{
    width:84%;
    margin-left:8%;
    margin-right:8%;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: capitalize;   
}

select:invalid {
    color: gray;
}
.wid-left{
    width:39%;
    margin-right:3%;
    float:left;
}
.wid-right{
    width:39%;
    margin-left:3%;
    float:right; 
}

.submit {
    background-color: #ffb42c;
    color: white;
    text-transform: uppercase;
}
.sec_2 .inner_container h2,
.sec_2 .inner_container h5 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.sec_2 .inner_container h5,
.sec_6 h5 {
    color: #ccc;
}

.sec_2 a {
    text-decoration: none;
    color: inherit;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

.sec_2 article {
    width: 30%;
    background-color: #ededf7;
    padding: 3%;
    border-radius: 5%;
    margin-bottom: 3%;
}

.sec_2 article img {
    float: left;
}

.sec_2 article h3 {
    float: left;
    text-transform: capitalize;
    padding-left: 4%;
    font-size: 0.85rem;
    padding-top: 2%;

}

.sec_2 article p,
.sec_3 p,
.sec_4 p,
.sec_5 p,
.sec_6 p {
    color: #ccc;
    text-transform: capitalize;
    margin-top: 7%;
    font-size: 0.75rem;
    text-align: justify;
    word-spacing: 1px;
}

.sec_3, .sec_4 .inner,.sec_6 .inner {
    margin-top: 5%;
    margin-bottom:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.sec_4 .inner , .sec_6 .inner{
 justify-content: space-between;
}

.sec_3 img {
    width: 50%;
}

.sec_3 aside {
    width: 40%;
    padding-top: 10%;
}

.sec_3 h2 {
    text-transform: capitalize;
    color: black;
    font-size: 2.5rem;
    }

.sec_3 h5 {
    color: #fefefead;
    margin-top: 3%;
    margin-bottom: 2%;
    color: black;
    font-weight: normal;
    text-shadow: 0 0 2px #999;
}

.sec_3 p,
.sec_4 p {
    margin-top: 2%;
    margin-bottom: 3%;
}
.sec_4 .inner_container h5,
.sec_6 h5 {
    color: #ccc;
    text-align: center;
    margin-top: 0.75%;
}
.sec_4 .inner_container h2,
.sec_5 .inner_container h2,
.sec_6 h2 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 2%;
    font-size: 1.65rem;
}
.sec_4  aside {
    width: 45%;
    padding-top: 10%;
}
.span2 {
    color: #ffb42c;
    font-weight: bold;
    font-size: 1.45rem;
    float: right;
}

.span1 {
    font-weight: bold;
    float: left;
    font-size: 1.45rem;
}

.sec_4 img {
    width: 50%;
}
.sec_4 aside div {
    color: #ccc;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5%;
}
.sec_4 ul {
    list-style-type: square;
    list-style-position: outside;
    float: left;
    padding-left: 45%;
    margin-bottom: 3%;
}

.sec_4 ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: grey;
}

.sec_4 ul li:first-child {
    background-color: #ffb42c;
}

.sec_4 aside a {
    background-color: black;
    margin-top: 2%;
}

.sec_5 {
    background: url("Images/callaction-bg.jpg") no-repeat center bottom;
    text-align: center;
    color: white;
}

.sec_5 h2{
    padding-top:10%;
    padding-bottom:1%;
}
.sec_5 p,.sec_6 p{
    margin-top:1.5%;
    text-align: center;
    margin-bottom: 1.5%;
}
.sec_6 p{
    width:60%;
    margin-left:auto;
    margin-right: auto;
}

.sec_5 a {
    background-color: transparent;
    border: 1px solid #ffb42c;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: #ffb42c;
    font-weight: bold;
    margin-bottom: 10%;
}
.sec_6{
    background-color: #dddddd45;
    margin-top:0;
    padding-top:2%;
    padding-bottom: 2%;
}
.sec_6 article {
    width: 22%;
    margin-right: 3%;
    margin-right: 3%;
}

.sec_6 article h3 {
    background-color: black;
    color: white;
    width: 60%;
    font-size: 0.95rem;
    padding: 1% 4%;
    margin-top: 4%;
    margin-bottom: 3%;
    
}
.sec_6 article p {
    color: #bbb;
    text-transform: capitalize;
/*    margin-top: 4%;*/
    font-size: 0.75rem;
/*    margin-bottom: 4%;*/
    width:95%;
    text-align: justify;
    margin:4% 0 5%;
}
.like {
    float: left;
    font-size: 0.8rem;
    color: #bbb;
    width: 50%;
}

.comment {
    text-align: right;
    width: 50%;
    float: right;
    color: #bbb;
    font-size: 0.8rem;
}
footer{
    background-color: #000;
}
footer .inner_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .inner_container .div{
    margin-top:5%;
    width:15%;
}
footer .inner_container .div3{
    width:30%;
}
footer .inner_container div h3{
    color:white;
    margin-bottom:16%;
}
footer .inner_container .div3 h3{
    color:white;
    margin-bottom:8%;
}
footer .inner_container .div p 
{
    color:#333;
    margin-top:5%;
    margin-bottom: 6%;
    font-size: 0.85rem;
}
footer .inner_container .div3 p 
{
    color:#333;
    margin-top:2.5%;
    margin-bottom: 3%;
    font-size: 0.85rem;
}


.div2 input{
    padding: 2%;
    margin-bottom: 2%;
    text-transform: capitalize;
    border-radius: 0px;
    width:70%;
    display:inline-block;
    border: none;
}

.div2 .input{
    width:8%;
    background-color: orange;
    color:white;
}
.last{
    text-align: center;
    padding-bottom: 4%;

}
.ali {
    margin-left: auto;
    margin-right: auto;

}






